{
  "required": true,
  "minVersion": "0.8",
  "package": "__JAVA_PACKAGE__.mixin",
  "compatibilityLevel": "JAVA_17",
  "refmap": "__MOD_ID__.refmap.json",
  "mixins": [
    "ExampleMixin"
  ],
  "client": [],
  "injectors": {
    "defaultRequire": 1
  }
}
